<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0"><a href="/">DF<span>.</span></a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/about">About</a></li>
        <li><a class="nav-link scrollto" href="/services">Services</a></li>
        <li><a class="nav-link scrollto " href="/portfolio">Portfolio</a></li>
        <li><a class="nav-link scrollto" href="/team">Team</a></li>
        <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        
        <% if (currentUser.role === 'consultant') { %>
          <li><a href="/consultant/<%= consultant._id %>" class="nav-link scrollto">Consultant Portal</a></li>
          <li class="dropdown"><a href="#"><span>Welcome to DF, <%= currentUser.firstname %></span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Profile</a></li>
              <li class="dropdown"><a href="#"><span>Help & Support</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">Support Inbox</a></li>
                  <li><a href="#">Report a problem</a></li>
                  <li><a href="#">Terms & Policies</a></li>
                </ul>
              </li>
              <li><a href="#">Settings & Privacy</a></li>
              <li><a href="/user/logout" class="text-danger">Logout</a></li>
            </ul>
          </li>
        <% } %>
        <% if (currentUser.role === 'client') { %>
          <li><a href="/client/<%= client._id %>" class="nav-link scrollto">Client Portal</a></li>
          <li class="dropdown"><a href="#"><span>Welcome to DF, <%= currentUser.firstname %></span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Profile</a></li>
              <li class="dropdown"><a href="#"><span>Help & Support</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">Support Inbox</a></li>
                  <li><a href="#">Report a problem</a></li>
                  <li><a href="#">Terms & Policies</a></li>
                </ul>
              </li>
              <li><a href="#">Settings & Privacy</a></li>
              <li><a href="/user/logout" class="text-danger">Logout</a></li>
            </ul>
          </li>
        <% } %>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <% if (!currentUser) { %>
      <a href="/user/login" class="get-started-btn scrollto">Login</a>
      <a href="/user/register" class="get-started-btn scrollto">Get Started</a>
    <% } %>

  </div>
</header>

